.ytxd-tabs {
    .ticon {
        display: block;
        width: 28px;
        height: 30px;
        margin: 10px auto 5px auto;
        border-radius: 50%;
        position: absolute;
        right: -5px;
        top: -14px;
        padding-top: 37px;
        padding-right: 10px;
    }
}